header {
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .detail-header {
    display: flex;
    align-items: center;
    gap: 3rem;

    img {
      cursor: pointer;
    }
  }
}
