header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  padding: 2rem 6rem;

  .user {
    display: flex;
    align-items: center;
    gap: 1rem;

    h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;

      span {
        font-weight: 500;
        color: #999;
      }
    }
  }

  button {
    background: transparent;
    border: none;
  }
}

@media screen and (max-width: 700px) {
  header {
    padding: 2rem 1rem;
  }
}
